@import url('https://fonts.googleapis.com/css?family=Chewy|Cutive+Mono');

body {
    font-family: 'Cutive Mono', monospace;
    margin: 0;
    background-color: #F6F6F1;
}

header {
    font-family: 'Chewy', cursive;
    color: #FFCA4E;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin: 0;
    padding-right: 50px;
    padding-top: 10px;
}

h1 {
    font-family: 'Chewy', cursive;
    color: #ff9b88;
    font-size: 2.6em;
    margin: 0;
    padding-top: 36%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

h2{
    text-align: center;
    margin-top: 150px;
    color: #515151;
    font-size: 2.6em;
}

h7 {
    font-family: 'Chewy', cursive;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    font-size: 2.5em;
    margin-right: 55px;
    padding-top: 10px;
    color: #ff9b88;
}

a{
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #ff9b88;
}

a:hover {
    color: #515151;
}

.grid {
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-bottom: 0;
}

.cowpic {
    width: 720px;
}

article{
    margin: 30px;
    font-size: 1.2em;
    margin-top: 40px;
    line-height: 30px;
}

#about {
    background-color: #f6f6f6;
    margin-top: 0;
}

h3{
    color: #ff9b88;
    font-family: 'Chewy', cursive;
    font-size: 4em;
    text-align: center;
    margin-top: 0;
    padding-top: 90px;
    margin-bottom: 20px;
}

#anima {
    font-size: 1.2em;
    margin-left: 240px;
    margin-right: 240px;
    padding-bottom: 50px;
    line-height: 30px;
    text-align: center;
}

#gif {
    width: 97%;
    margin: 0;
}

.grid2 {
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: 45% 55%;
    margin-bottom: 0;
    margin-top: 30px;
}

h4{
    font-family: 'Chewy', cursive;
    font-size: 4em;
    text-align: center;
}

#logo-milk {
    width: 35%;
    margin-left: 30%;
}

.ol {
   font-family: 'Chewy', cursive;
    font-size: 1.6em;
    letter-spacing: 2px;
}

h5 {
     font-family: 'Chewy', cursive;
    font-size: 3.5em;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    margin-bottom: 40px;
}

h6 {
     font-family: 'Chewy', cursive;
    font-size: 5em;
    color: #12B493;
    text-align: center;
    margin-top: 0;
}

.join {
    background-color: #f6f6f6;
    margin-top: 0;
    padding: 50px;
}

/* FOOTER */
footer {
    background-color: white;
    color: black;
    font-family: 'Roboto';

    /* grid for the footer */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-template-areas:
        ". anima logo icons .";
}

.anima-footer {
    grid-area: anima;
}

.anima-logo {
    width: 160px;
    padding-top: 35px;
}

.anima-address {
    font-weight: 300;
    font-size: 18px;
}

.email-icon {
    width: 20px;
}

.telephone-icon {
    width: 20px;
}

.telephone {
    margin: 0;
}

.challenge-logo {
    grid-area: logo;
    width: 70px;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.some-icons {
    grid-area: icons;
    padding-top: 60px;
}

.icon {
    width: 50px;
}

.newsletter {
    grid-area: icons;
    padding-top: 130px;
    font-weight: 300;
    font-size: 13px;
}


