@import url('https://fonts.googleapis.com/css?family=Chewy|Cutive+Mono');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cutive Mono', monospace;
    margin: 0;
    background-color: #F6F6F1;
}

header {
    font-family: 'Chewy', cursive;
    color: #FFCA4E;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin: 0;
    padding-right: 50px;
    padding-top: 10px;
    font-size: 1.8em;
    margin-top: 30px;
}


#logo {
    width: 8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 0;
}

h1 {
    font-family: 'Chewy', cursive;
    color: #ff9b88;
    font-size: 4em;
    margin: 0;
    padding-top: 30px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 150px;
    margin-right: 170px;
    margin-top: 20px;
    grid-column-gap: 30px;
    line-height: 20px;
}

h2 {
    text-align: center;
    margin-top: 100px;
    color: black;
    font-size: 2.6em;
    font-family: 'Chewy', cursive;
    letter-spacing: 2px;

}


h3 {
    color: #12B493;
    font-family: 'Chewy', cursive;
    font-size: 4em;
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 100px;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #FFCA4E;
}

a:visited {
    color: #FFCA4E;
}

a:hover {
    color: #515151;
}

#food {
    width: 100%;
}

#taste {
    width: 850px;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 1.1em;
}

video {
    margin-top: 30px;
    width: 500px;
    height: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#app {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
     margin-right: 150px;
    margin-left: 150px;
}

#appimg {
    width: 500px;
    grid-area: 1/1/5/1;
}

#shops {
    width: 50%;
    grid-row-start: 3;
}

#download {
    grid-row-start: 2;
}
























/* FOOTER */
footer {
    background-color: white;
    color: black;
    font-family: 'Roboto';

    /* grid for the footer */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-template-areas:
        ". anima logo icons .";
}

.anima-footer {
    grid-area: anima;
}

.anima-logo {
    width: 160px;
    padding-top: 35px;
}

.anima-address {
    font-weight: 300;
    font-size: 18px;
}

.email-icon {
    width: 20px;
}

.telephone-icon {
    width: 20px;
}

.telephone {
    margin: 0;
}

.challenge-logo {
    grid-area: logo;
    width: 70px;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.some-icons {
    grid-area: icons;
    padding-top: 60px;
}

.icon {
    width: 50px;
}

.newsletter {
    grid-area: icons;
    padding-top: 130px;
    font-weight: 300;
    font-size: 13px;
}
